.row {
    alignment: center;
    gap: 20px;
}

label.count {
    alignment: center;
    border-width: 1px;
    border-color: #808080;
    border-radius: 4px;
    width: 50px;
    height: 32px;
}

.gain-slider {
    background-color: rgb(170, 50, 50);
}

.category {
    background-color: rgb(18, 8, 8);
    color:  rgb(25, 239, 64);;
}


/*FIXME
label{
    font-size: large;
    background-color: rgb(170, 50, 50);
}


slider{
    font-size: large;
    background-color: rgb(170, 50, 50);
}*/
